<div class="page-header">
  <div>
    <h2 class="page-title">Manage Product Batches</h2>
    <p class="page-subtitle">Track individual batches of inventory for quality and stock control.</p>
  </div>
</div>
<div class="admin-card">
  <div class="admin-card-header">
    <div class="table-filter-bar w-100">
      <div class="search-input-wrapper">
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round">
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
        <input type="text" class="search-input" placeholder="Search batch number or batch ID...">
      </div>
    </div>
  </div>
  <div class="admin-table-wrapper">
    <table class="admin-table">
      <thead>
        <tr>
          <th>Batch ID</th>
          <th>Product Reference</th>
          <th>Batch Quantity</th>
          <th>Status</th>
          <th>Remaining Stock</th>
          <th>Manufacturing Date</th>
          <th class="text-end">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="fw-600">B-103940</td>
          <td>Cotton Sweatshirt S/M</td>
          <td>150 Units</td>
          <td><span class="status-badge badge-active">Active</span></td>
          <td class="fw-600">120 Units</td>
          <td class="td-secondary">Oct 12, 2023</td>
          <td>
            <div class="action-btns justify-content-end">
              <button class="btn-admin-outline btn-admin-icon"><svg viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                  <circle cx="12" cy="12" r="3"></circle>
                </svg></button>
            </div>
          </td>
        </tr>
        <tr>
          <td class="fw-600">B-103939</td>
          <td>Leather Belt (Black)</td>
          <td>50 Units</td>
          <td><span class="status-badge badge-cancelled">Depleted</span></td>
          <td class="fw-600">0 Units</td>
          <td class="td-secondary">Sep 05, 2023</td>
          <td>
            <div class="action-btns justify-content-end">
              <button class="btn-admin-outline btn-admin-icon"><svg viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                  <circle cx="12" cy="12" r="3"></circle>
                </svg></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
